<div class="container-title">
    <span><h2>Groups</h2></span>
    <span><a class="button button__create" href="" onclick="createGroups()">Create</a></span>
</div>
<div class="groups-container-list">
    <div class="container-list_header">
        <div class="list-header_column">Name</div>
        <div class="list-header_column">Id</div>
    </div>
    <div id="group-list" class="container-list_body">
        <img src="images/loader.gif">
    </div>
</div>
<div id="groups-detail-container" class="container" style="display: none">
</div>
